<header class="header">

	<a class="title" href="{{ path('homepage') }}">Topic Chat</a>

	{% if app.user %}
		<a class="add-btn" href="{{ path('add_room') }}">Add Room</a>
		<a class="logout-btn" href="{{ path('app_logout') }}">Logout</a>
		
	{% endif %}
    
</header>
