{% extends 'base.html.twig' %}

{% block title %}Homepage
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/homepage.css') }}">
{% endblock %}

{% block body %}
	{% if app.user %}
		<div class="">
			You are logged in as
			{{ app.user.userIdentifier }},
			<a href="{{ path('app_logout') }}">Logout</a>
		</div>
	{% endif %}
	<h1>Homepage</h1>
{% endblock %}