html {
  height: 100vh;
}
body * {
  font-family: sans-serif;
}
p {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  height: 100%;
  background-color: #3d48d9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235f82ea'/%3E%3Cstop offset='1' stop-color='%235f82ea' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235f94d8'/%3E%3Cstop offset='1' stop-color='%235f94d8' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2381c1e9'/%3E%3Cstop offset='1' stop-color='%2381c1e9' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%233D48D9'/%3E%3Cstop offset='1' stop-color='%233D48D9' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2386B6F6'/%3E%3Cstop offset='1' stop-color='%2386B6F6' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%237FC7D9'/%3E%3Cstop offset='1' stop-color='%237FC7D9' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-div {
  display: inline-block;
  background-color: whitesmoke;
  border-radius: 25px;
  padding: 25px;
}
.title {
  width: 100%;
  text-align: center;
}
.input {
  background-color: transparent;
  font-size: 25px;
  border: none;
  border-bottom: 1px solid black;
  margin-top: 25px;
}
.input::placeholder {
  color: black;
}
.input:focus {
  outline: none;
}

.terms-div {
  margin-top: 15px;
}
.required {
  color: grey;
}

.reg-div {
  margin: 15px 0px 25px 0px;
}
.reg-div * {
  text-decoration: none;
  color: grey;
}

.to-path:hover {
  color: black;
}

.btn {
  font-size: 28px;
  border-radius: 15px;
  color: whitesmoke;
  background-color: #3d48d9;
  border: none;
  padding: 10px;
}
.btn:hover {
  background-color: #0b18cd;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: black !important;
}
